body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1310px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u26 {
  position:absolute;
  left:233px;
  top:129px;
  width:1082px;
  height:99px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:30px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:30px;
}
#u28 {
  position:absolute;
  left:2px;
  top:8px;
  width:204px;
  word-wrap:break-word;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:30px;
}
#u29 {
  position:absolute;
  left:208px;
  top:0px;
  width:208px;
  height:30px;
}
#u30 {
  position:absolute;
  left:2px;
  top:8px;
  width:204px;
  word-wrap:break-word;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:30px;
}
#u31 {
  position:absolute;
  left:416px;
  top:0px;
  width:208px;
  height:30px;
}
#u32 {
  position:absolute;
  left:2px;
  top:8px;
  width:204px;
  word-wrap:break-word;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:30px;
}
#u33 {
  position:absolute;
  left:624px;
  top:0px;
  width:237px;
  height:30px;
}
#u34 {
  position:absolute;
  left:2px;
  top:8px;
  width:233px;
  word-wrap:break-word;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:30px;
}
#u35 {
  position:absolute;
  left:861px;
  top:0px;
  width:216px;
  height:30px;
}
#u36 {
  position:absolute;
  left:2px;
  top:8px;
  width:212px;
  word-wrap:break-word;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:30px;
}
#u37 {
  position:absolute;
  left:0px;
  top:30px;
  width:208px;
  height:30px;
  font-size:14px;
  color:#0000FF;
}
#u38 {
  position:absolute;
  left:2px;
  top:6px;
  width:204px;
  word-wrap:break-word;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:30px;
}
#u39 {
  position:absolute;
  left:208px;
  top:30px;
  width:208px;
  height:30px;
  color:#330033;
}
#u40 {
  position:absolute;
  left:2px;
  top:8px;
  width:204px;
  word-wrap:break-word;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:30px;
}
#u41 {
  position:absolute;
  left:416px;
  top:30px;
  width:208px;
  height:30px;
}
#u42 {
  position:absolute;
  left:2px;
  top:8px;
  width:204px;
  word-wrap:break-word;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:30px;
}
#u43 {
  position:absolute;
  left:624px;
  top:30px;
  width:237px;
  height:30px;
}
#u44 {
  position:absolute;
  left:2px;
  top:8px;
  width:233px;
  word-wrap:break-word;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:30px;
}
#u45 {
  position:absolute;
  left:861px;
  top:30px;
  width:216px;
  height:30px;
}
#u46 {
  position:absolute;
  left:2px;
  top:8px;
  width:212px;
  word-wrap:break-word;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:34px;
}
#u47 {
  position:absolute;
  left:0px;
  top:60px;
  width:208px;
  height:34px;
  font-size:14px;
}
#u48 {
  position:absolute;
  left:2px;
  top:8px;
  width:204px;
  word-wrap:break-word;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:34px;
}
#u49 {
  position:absolute;
  left:208px;
  top:60px;
  width:208px;
  height:34px;
  color:#330033;
}
#u50 {
  position:absolute;
  left:2px;
  top:10px;
  width:204px;
  word-wrap:break-word;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:34px;
}
#u51 {
  position:absolute;
  left:416px;
  top:60px;
  width:208px;
  height:34px;
}
#u52 {
  position:absolute;
  left:2px;
  top:10px;
  width:204px;
  word-wrap:break-word;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:34px;
}
#u53 {
  position:absolute;
  left:624px;
  top:60px;
  width:237px;
  height:34px;
}
#u54 {
  position:absolute;
  left:2px;
  top:10px;
  width:233px;
  word-wrap:break-word;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:34px;
}
#u55 {
  position:absolute;
  left:861px;
  top:60px;
  width:216px;
  height:34px;
}
#u56 {
  position:absolute;
  left:2px;
  top:10px;
  width:212px;
  word-wrap:break-word;
}
#u57_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u57 {
  position:absolute;
  left:490px;
  top:0px;
  width:225px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u59_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:800px;
  background:inherit;
  background-color:rgba(0, 51, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u59 {
  position:absolute;
  left:0px;
  top:50px;
  width:200px;
  height:800px;
}
#u60 {
  position:absolute;
  left:2px;
  top:392px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u61 {
  position:absolute;
  left:16px;
  top:17px;
  width:144px;
  height:18px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u63_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u63 {
  position:absolute;
  left:1117px;
  top:18px;
  width:30px;
  height:18px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:767px;
  top:50px;
  width:43px;
  height:25px;
}
#u65_input {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u66_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 10px rgba(0, 0, 51, 0.349019607843137);
  -webkit-box-shadow:5px 5px 10px rgba(0, 0, 51, 0.349019607843137);
  box-shadow:5px 5px 10px rgba(0, 0, 51, 0.349019607843137);
  color:#000000;
}
#u66 {
  position:absolute;
  left:546px;
  top:50px;
  width:165px;
  height:22px;
  color:#000000;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:376px;
  top:50px;
  width:160px;
  height:22px;
}
#u68_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u68_input:disabled {
  color:grayText;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:32px;
}
#u69 {
  position:absolute;
  left:69px;
  top:120px;
  width:38px;
  height:22px;
  font-size:18px;
  color:#FF0000;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:32px;
}
#u71 {
  position:absolute;
  left:69px;
  top:69px;
  width:38px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
